  <!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Favorite Traveling Photos</h1>
      <ul>
        <li><img src='~/img/image1.jpeg'/></li>
        <li><img src='~/img/image2.jpeg'/></li>
        <li><img src='~/img/image3.jpeg'/></li>
      </ul>
    </body>
  </html>